<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">

</head>

<body>
    <section class="container">
        <div class="login-container">

            <div class="circle circle-one"></div>
            <div class="form-container">
                <%if(locals.alert){%>
                    <div class="alert alert-primary <%=locals.alert.type%>" role="alert" id="alert">
                        <%=locals.alert.message%>
                    </div>
                <%}%>
                <%if(locals.logout){%>
                    <div class="alert alert-success" role="alert" id="alert">
                        <%=locals.logout%>
                    </div>
                <%}%>
                <h1 class="opacity">LOGIN PAGE</h1>
                <form action="/login" method="post">
                    <input type="email" id="name" name="email" placeholder="EMAIL" required />
                    <input type="password" id="password" name="password" placeholder="PASSWORD" required/>
                    <button type="submit" class="submit-btn">LOGIN</button>
                </form>
                <p class="opacity text-center">Don't have an account? <a href="/signup">Sign Up</a></p>
                <p class="opacity text-center">OR</p>
                <p class="opacity text-center">For Admin Login?<a href="/adminlogin"> Click here</a></p>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
<script>
    setTimeout(() => {
        document.getElementById('alert').style.display = "none";
    }, 3000);
</script>

</body>

</html>
